*{
    margin: 0;
    padding: 0;

}
body{
    /* gradient sirve para atenuar la imagen */
    background: linear-gradient(rgba(255, 255, 255, 0.311),rgba(255, 255, 255, 0.311)),
    url(IMAGENES/pintado2.jpg);
    /* cover permite rellenar la imagen en la ventana */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* fixed fija la imagen */
    background-attachment: fixed;
    
}
header {
    background-color: #0084ff7a;
    /* altura de la franja azul */
    padding: 15px;
    /* coloca en una sola linea logo y menu */
    display: flex;

}
header h1 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(10, 54, 97);
    font-size: 3rem;
}
header h1 span{
    font-size: 1rem;
    color: rgb(7, 78, 160);
}

nav ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

nav ul li {
    /* coloca en linea el menu */
    display: inline-block;
    margin: 0 5px;
    /* coloca en linea el submenu */
    position:relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    /* coloca espacio al menu */
    padding: 10px 15px;
    /* submenu */
    display: block;
}

nav ul li ul {
    /* permite que el submenu desaparezca */
    display: none;
    /* permite que se mantenga alienado el menu y submenu */
    position: absolute;
    /* le da color al submenu */
    background-color: #0084ff7a;
    /* indica el ancho del submenu */
    width: 150px;
}

nav ul li:hover ul {
    /* permite despliegue del menu */
    display: block;
}

nav ul li ul li {
    display: block;
}
/* DISEÑANDO EL CUERPO */
main {
    /* espacio del contenido de texto y box*/
    padding: 30px;
    
}
h2{

    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 63, 127);
    text-align: center;

}
.container{
    /* indica el ancho total del container */
    max-width: 1260px;
    border-radius: 15px;
    /* evita que la imagen salga del box */
    background: #0e0d0d9d;
    /* permite colocar parrafo y video uno al lado del otro */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;    
}
.parrafo{
    /* espacio gris */
    padding: 10px;
    line-height: 1.7;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(248, 250, 253);
    text-align: justify;

}
.video{
    padding: 15px;
    width: 50%;
    /* max-width: 400px; */
    border-radius: 10px;
}

footer {
    background-color: #0084ff7a;
    padding: 15px 0;
    position: relative;
    width: 100%;
    /* bottom: 0; */
}
footer p{
    color: rgb(10, 54, 97);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: medium;
    
}